<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utrjujemo s Kristino</title>
</head>
<body>
    <h1>Izbira operacije za utrjevanje</h1>
    <ul>
        <li>
            <a href="/sestevanje">Seštevanje</a>
        </li>
        <li>
            <a href="/odstevanje">Odštevanje</a>
        </li>
        <li>
            <a href="/mnozenje">Množenje</a>
        </li>
    </ul>
    <p>Ali pa... <a href="/preusmeri_na_shranjeno_opcijo"><button>nadaljuj utrjevanje operacije: {{ ime_shranjene_opcije }}</button></a></p>
    <h1>Statistika:</h1>
    <table>
        <tr>
            <td>Število vseh poskusov:</td>
            <td>{{ stevilo_poskusov }}</td>
        </tr>
        <tr>
            <td>Število pravilnih odgovorov:</td>
            <td>{{ pravilno_odgovorjeni }}</td>
        </tr>
    </table>
</body>
</html>
