<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seštevamo s Kristino</title>
</head>
<body>
    <h1>Utrjevanje seštevanja</h1>

    <!-- stevilo1 in stevilo2 se napolnita iz spletni_vmesnik.py v metodi sestevanje() -->
    <h3>Izračunaj: {{ stevilo1 }} + {{ stevilo2 }}</h3>

    <form action="/preveri" method="post">
        <input type="hidden" name="operacija" value="sestevanje">
        <input type="hidden" name="stevilo1" value="{{ stevilo1 }}">
        <input type="hidden" name="stevilo2" value="{{ stevilo2 }}">
        <input type="number" name="rezultat">
        <input type="submit" value="Preveri">
    </form>
</body>
</html>
